In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = 'Dataset/process/extracted_data.xlsx'
data = pd.read_excel(file)

In [3]:
df = data.copy()

## Handling missing values

In [4]:
df['Acceleration'] = df['Acceleration'].combine_first(df['Acceleration_1'])

In [5]:
df['Alloy Wheel Size'] = df['Alloy Wheel Size'].combine_first(df['Alloy Wheel Size_1'])

In [6]:
df['Alloy Wheel Size'] = df['Alloy Wheel Size'].combine_first(df['Alloy Wheel Size_2'])

In [7]:
df['Drive Type'] = df['Drive Type'].combine_first(df['Drive Type_1'])

In [8]:
df['Front Brake Type'] = df['Front Brake Type'].combine_first(df['Front Brake Type_1'])

In [9]:
df['Gear Box'] = df['Gear Box'].combine_first(df['Gear Box_1'])

In [10]:
df['Max Power'] = df['Max Power'].combine_first(df['Max Power_1'])

In [11]:
df['No Door Numbers'] = df['No Door Numbers'].combine_first(df['No Door Numbers_1'])

In [12]:
df['No Door Numbers'] = df['No Door Numbers'].combine_first(df['No Door Numbers_2'])

In [13]:
df['Rear Brake Type'] = df['Rear Brake Type'].combine_first(df['Rear Brake Type_1'])

In [14]:
df['Seating Capacity'] = df['Seating Capacity'].combine_first(df['Seating Capacity_1'])

In [15]:
df['Seating Capacity'] = df['Seating Capacity'].combine_first(df['Seating Capacity_2'])

In [16]:
df['Seats'] = df['Seats'].combine_first(df['Seats_1'])

In [17]:
df['Steering Type'] = df['Steering Type'].combine_first(df['Steering Type_1'])

In [18]:
df['Steering Type'] = df['Steering Type'].combine_first(df['Steering Type_2'])

In [19]:
df['Top Speed'] = df['Top Speed'].combine_first(df['Top Speed_1'])

In [20]:
df['Turning Radius'] = df['Turning Radius'].combine_first(df['Turning Radius_1'])

In [21]:
df['Tyre Type'] = df['Tyre Type'].combine_first(df['Tyre Type_1'])

In [22]:
df['Tyre Type'] = df['Tyre Type'].combine_first(df['Tyre Type_2'])

In [23]:
df = df.drop(columns=['trendingText.desc','trendingText.heading','trendingText.imgUrl','it'])

In [24]:
dup_cols = [
            'Acceleration_1','Alloy Wheel Size_1','Alloy Wheel Size_2','Drive Type_1','Front Brake Type_1',
            'Gear Box_1','Max Power_1','No Door Numbers_1','No Door Numbers_2','Rear Brake Type_1',
            'Seating Capacity_1','Seating Capacity_2','Seats_1','Steering Type_1','Steering Type_2',
            'Top Speed_1','Turning Radius_1','Tyre Type_1','Tyre Type_2','Seating Capacity'
           ]

In [25]:
df = df.drop(columns=dup_cols)

In [26]:
def desc_na(data):
    total=data.isnull().sum().sort_values(ascending=False)
    percent=(data.isnull().sum()/data.isnull().count()*100).sort_values(ascending=False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [27]:
null_count = desc_na(df)

In [28]:
df = df[(null_count[null_count.Percent<10]).index]

In [29]:
df = df.drop(columns=[ 'Ownership','owner','Engine Type','Engine Displacement','Displacement','Kms Driven',])

In [30]:
df.loc[df['Fuel Type']=='Electric','Displacement'] = '0 cc'
df.loc[(df.model == 'Mercedes-Benz C-Class')&(df.modelYear == 2002),'Displacement'] = '1998 cc'
df.loc[(df.model == 'Maruti Gypsy')&(df.modelYear == 1995),'Displacement'] = '1298 cc'

In [31]:
df.loc[df['model']=='Toyota Vellfire','bt'] = 'Minivans'
df.loc[df['model']=='Maruti Eeco','bt'] = 'Minivans'

In [32]:
df['Seats'] = df.groupby(['model'])['Seats'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else np.nan))

In [33]:
df.loc[df.model == 'Maruti Estilo','Seats'] = 5.0

In [34]:
desc_na(df)

                     Total    Percent
Displacement          8338  99.629585
Mileage                287   3.429322
Steering Type          255   3.046959
Wheel Base             163   1.947664
Gear Box               106   1.266579
Front Brake Type        96   1.147090
Rear Brake Type         96   1.147090
Width                   83   0.991755
Length                  79   0.943960
Height                  79   0.943960
Tyre Type               77   0.920062
Max Torque              60   0.716932
Max Power               60   0.716932
Torque                  60   0.716932
Kerb Weight             59   0.704983
Registration Year       52   0.621341
Values per Cylinder     51   0.609392
No of Cylinder          31   0.370415
Year of Manufacture     20   0.238977
No Door Numbers         11   0.131437
Engine                   4   0.047795
Insurance Validity       4   0.047795
Color                    3   0.035847
bt                       0   0.000000
ft                       0   0.000000
Transmission             0   0.000000
Fuel Type                0   0.000000
price                    0   0.000000
variantName              0   0.000000
centralVariantId         0   0.000000
modelYear                0   0.000000
model                    0   0.000000
oem                      0   0.000000
ownerNo                  0   0.000000
transmission             0   0.000000
km                       0   0.000000
city                     0   0.000000
Seats                    0   0.000000

In [35]:
clean_df = df[['ft', 'bt', 'transmission', 'ownerNo', 'oem', 'model', 'modelYear', 'Year of Manufacture', 'price', 'Insurance Validity', 'km', 'Mileage', 'Engine', 'Seats', 'Color', 'Gear Box', 'city']]

In [36]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ft                   8369 non-null   object
 1   bt                   8369 non-null   object
 2   transmission         8369 non-null   object
 3   ownerNo              8369 non-null   int64
 4   oem                  8369 non-null   object
 5   model                8369 non-null   object
 6   modelYear            8369 non-null   int64
 7   Year of Manufacture  8349 non-null   float64
 8   price                8369 non-null   object
 9   Insurance Validity   8365 non-null   object
 10  km                   8369 non-null   object
 11  Mileage              8082 non-null   object
 12  Engine               8365 non-null   object
 13  Seats                8369 non-null   object
 14  Color                8366 non-null   object
 15  Gear Box             8263 non-null   object
 16  city                 8369 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

In [37]:
clean_df = clean_df.dropna().copy()

In [38]:
clean_df['km'] = clean_df['km'].str.replace(',','')

In [39]:
clean_df['km'] = clean_df['km'].astype(int)
clean_df['modelYear'] = clean_df['modelYear'].astype(int)
clean_df['Year of Manufacture'] = clean_df['Year of Manufacture'].astype(int)

In [40]:
def convert_price(price):
    price = price.replace(',', '')
    price = price.replace('â‚¹ ','')
    if 'Lakh' in price:
        return float(price.replace(' Lakh', '')) * (10**5)
    elif 'Crore' in price:
        return float(price.replace(' Crore', '')) * 10**7
    
    return float(price)

In [41]:
clean_df['price'] = clean_df['price'].apply(convert_price)

In [42]:
clean_df['Engine'] = clean_df['Engine'].str.replace(' CC','').astype(float)

In [43]:
clean_df = clean_df.rename(columns={"ft":"Fuel type","bt":"body type","oem":"Brand"})

In [44]:
clean_df = clean_df.reset_index(drop=True)

In [45]:
clean_df.loc[clean_df['Mileage'].str.contains('km/kg'),'Mileage'] = clean_df.loc[clean_df['Mileage'].str.contains('km/kg'),'Mileage'].str.replace(' km/kg','').astype(float)*1.4

In [46]:
clean_df['Mileage'] = clean_df['Mileage'].str.replace(' kmpl','').astype(float)

In [47]:
clean_df.to_excel('Dataset/process/cleaned_data.xlsx', index=False)